/* class1 header batiment_plomberie */
.class1 {
  background: linear-gradient(to right, #858d94, #27307c);
  /* Dégradé de bleu gris*/
}
/* fin */

/* body1 avis */
.body1 {
  background: #eee;
}
/* fin */

/* body */
.body {
  margin: 0;
  width: 100%;
  min-height: 1000px;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
/* fin */

/* body html batiment plomberie */
html,
body {
  position: relative;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
/* fin */

/* classe des width */
.width-25 {
  width: 25%;
}

.width-50 {
  width: 50%;
}

nav {
  width: 100%;
}
/* fin */

/* classe nav */
.nav_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
/* fin */

/* id logo entreprise*/
#logo_entreprise {
  display: flex;
  justify-content: center;
}

#logo_entreprise img {
  max-width: 240px;
  height: 240px;
  border: 2px solid black;
  border-radius: 8px;
  margin: 20px auto 0 auto;

  /* Animation */
  transform: rotate(0deg);
  animation: rotateImage 1s ease-in-out forwards;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
/* fin */

/* classe des titre */
.titre2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 100%;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  margin-left: 50px;
}

.titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 100%;
  color: black;
  text-transform: uppercase;
  text-decoration: underline;
  margin-left: 50px;
}

.titre3 {
  color: white;
  text-decoration: underline;
}

.titre-i {
  display: flex;
  align-items: center;
  margin-left: 200px;
}
.titre4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}
/* titre5 de la page qui sommes nous */
.titre5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
}

/* fin */

/* classe des liens */
.liens {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.liens a {
  font-size: 30px;
  color: white;
}

.apropos {
  font-size: 20px;
  text-align: center;
}
.apropos a {
  color: black;
}
a {
  padding-bottom: 15px;
}
/* fin */

/* footer classe adresse coordonnees*/
footer {
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  border-top: 1px solid black;
}

.coordonnées {
  display: flex;
  align-items: center;
}

.coordonnées p {
  margin-bottom: 0;
}

.coordonnées i {
  margin: 0 5px;
}
/* fin */

/* classe icone */
.icone {
  display: flex;
  align-items: flex-end;
}

.icone i {
  font-size: 30px;
  margin: 5px;
}

/* classe des card */
.card {
  animation: forwards;
  width: 300px;
  height: 410px;
  border: 1px solid #000000;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  box-shadow: inset 30px 30px 60px grey;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
}

.card-content img {
  width: 100%;
  height: 200px;
}

.card:nth-child(2) .card-content h2 {
  margin-top: 0;
}

.card-content a {
  margin-top: 50px;
  padding: 20px;
  color: white;
  background-color: black;
  text-decoration: underline;
  border-radius: 15px;
  font-size: 19px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* classe flex exemple_plomberie */
.flex {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: space-around;
  margin: 35px auto;
}

/* pour la nav logo et l'imagine prend 100% */
.image_entreprise img {
  height: 100%;
  width: 100%;
}
/* fin */

/* classe des bg pour l'animation */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #27307c 50%, #858d94 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.bg4 {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #f8a26f 50%, #272928 50%);
  bottom: 0;
  left: -50%;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg5 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg6 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
/* fin */

/* carousel */
.carousel-container {
  overflow: hidden;
  width: 50%;
  margin: 30px auto;
}

.carousel-wrapper {
  display: flex;
  width: 400%; /* 100% * nombre d'items */
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  width: 100%;
  box-sizing: border-box;
  height: 600px;
}

.carousel-item img {
  width: 65%;
  margin: auto;
  height: 100%;
  display: block;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333;
  margin: 0 5px;
  cursor: pointer;
}
/* fin */

/* Page html avis */
.avis_div {
  display: flex;
  width: 1000px;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.avis_div_img {
  width: 300px;
  height: 500px;
  img {
    width: 100%;
    height: 100%;
  }
  margin: 30px 0;
}

.avis_div_img:hover {
  scale: 1.5;
}

.avis_presentation {
  display: flex;
  justify-content: space-between;
  h1 {
    text-align: center;
    width: 300px;
  }
}

.avis_carte {
  width: 300px;
  img {
    width: 100%;
  }
}
/* fin */

/*  html avis icone etoile */
.yellow {
  color: yellow;
}

.blue {
  color: white;
}
/* fin */

/* presenation entreprise et paragraphe de la page qui sommes nous*/
.presentation_entreprise {
  p {
    margin: 40px 0;
    font-size: 20px;
  }
  span {
    text-align: center;
    background-color: rgb(135, 173, 222);
    padding: 15px;
    margin-right: 20px;
    border-radius: 30%;
    text-decoration: none;
  }
}
/* span pour paragraphe qui sommes nous */
span {
  text-decoration: underline;
}

.paragraphe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  text-align-last: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
}

.paragraphe p {
  text-align: left;
}
/* fin */

/* html plomberie_exemple img */
.image div > div {
  width: 400px;
  height: 400px;
  img {
    width: 100%;
    height: 100%;
  }
}
.image {
  padding-bottom: 50px;
  filter: brightness(120%);
}
/* fin */

/* classe bordure */
.bordure {
  margin-top: 25px;
  border: solid 1px black;
  border-radius: 15px; /* Ajustez la valeur selon vos besoins pour définir le rayon de l'arrondi */
  background-color: #d3d3d3;
}

.paragraphe > div {
  display: flex;
  width: 500px;
  align-items: center;
}

/* exemple batiment_plombeie ul li nav  */

.ulli ul {
  margin: 0;
  display: flex;
}

.ulli li {
  justify-content: center;
}
ul li {
  list-style: none;
  display: table-cell;
}
li a {
  color: black;
}

/* fin */
